html, body {
    height : 100%;
}
body {
    padding : 0;
    margin : 0;
    font : normal 12px tahoma,arial,helvetica,sans-serif;
    background : #fafafa;
}

h1, h2, h3, h4, h5 {
    margin : 0;
}

a {
    color : #0088cc;
    text-decoration : none;
}
a:hover {
    text-decoration : underline;
}

#header {
    height : 50px;
    background : #575757 url(../img/pagebakery/header.gif) repeat-x;
}
#header li a {
    color : #ededed;
    text-shadow: rgba(0, 0, 0, 0.6) 0 1px 0;
}
#header li a:hover {
    color : #ffffff;
}
#header li.active {
    background : url(../img/pagebakery/header-tab-active.gif);
}
#header li.active a {
    background : none;
    color : #ffffff;
}
.panel-header {
    border-bottom : 1px solid #525252;
    background : #969696 url(../img/pagebakery/panel-header.gif) repeat-x;
}

.panel-body {
    padding : 10px;
    border-left : 1px solid #525252;
    border-right : 1px solid #525252;
    border-bottom : 1px solid #525252;
    background-color : #e8e8e8;
}

.no-border {
    border-width : 0 !important;
}

#container {
    padding-bottom: 40px;
}

#content {
    padding : 10px;
}

#footer {
    height : 22px;
    width : 100%;
    border-top : 1px solid #d3d3d3;
    background : url(../img/pagebakery/panel-footer.gif) repeat-x;
    position : fixed;
    bottom : 0;
}
/* buttons */
.button, button, .submit input {
	text-decoration : none;
	font-size : 11px !important;
	padding : 3px 10px;
	cursor : pointer;
    border : 1px solid #cccccc;
    background : #ffffff url(../img/pagebakery/button.gif);
	-moz-border-radius : 10px;
	-khtml-border-radius : 10px;
	-webkit-border-radius: 10px;
	border-radius : 10px;
	color : #444444;
}
.button:hover, button:hover, .submit input:hover {
    border-color : #777777;
    color : #222222;
    text-decoration : none;
}
/* forms */
form {
    padding : 10px;
}
div.input {
    margin-bottom: 5px;
}
div.input:after {
    content : ".";
    display : block;
    height : 0;
    clear : both;
    visibility : hidden;
}

div.input label {
    display : block;
    width : 175px;
    padding : 4px 0;
    float : left;
}
div.input input {
    float : left;
    width : 250px;
    border : 1px solid #dfdfdf;
    padding : 4px;
}
div.input input:focus {
    border-color : #333;
}
div.input span {
    padding : 4px 0 0 5px;
    color : #777777;
    font-size : 11px;
}

fieldset {
    border : 0;
    margin-bottom : 5px;
    padding : 10px 0 0 0;
}
fieldset legend {
    font-weight : bold;
}
form h4 {
    margin : 10px 0;
    padding : 0;
    font-size : 12px;
}

.pagination {
    margin : 5px 0 0 0;
    padding : 0;
    list-style : none;
}
.pagination li {
    float : left;
    border-right : 1px solid #cccccc;
    padding : 0 5px;
    margin : 0;
}
.pagination li.last {
    border : 0;
}
.pagination .disabled {
    color : #666666;
    border : 0;
}

/* login */
body#pb_login {
    background-color : #686868;
}
#login-form-panel {
    width : 350px;
    height : 200px;
    position : absolute;
    left : 50%;
    top : 50%;
    margin : -100px 0 0 -175px;
}
#login-form-panel fieldset {

}

/* tabs */
.panel-tabs {
    list-style : none;
    margin : 0;
    padding : 0;
    height : 50px;
    color : #000000;
    font-size : 11px;
    padding : 0 0 0 6px;
}
.panel-tabs li {
    float : left;
    height : 50px;
}
.panel-tabs li a {
    display : block;
    padding : 28px 10px 6px 10px;
    color : #000000;
    font-size : 12px;
    text-decoration : none;
}
.panel-tabs li.active {
    padding-left : 5px;
    background : url(../img/pagebakery/panel-tab-active.gif) no-repeat top left;
}
.panel-tabs li.active a {
    padding-left: 5px;
    color : #ffffff;
    background : url(../img/pagebakery/panel-tab-active.gif) no-repeat top right;
}

.panel-tabs-hide {
	display: none !important;
}

/* toolbar */
.toolbar {
    background : #e7e7e7 url(../img/pagebakery/toolbar.gif) repeat-x;
    height : 29px;
    border-bottom : 1px solid #bbbbbb;
    font-size : 11px;
}
.toolbar ul {
    margin : 0;
    padding : 0;
    list-style : none;
    height : 29px;
}
.toolbar ul li {
    float : left;
    height : 29px;
    line-height : 28px;
    padding : 0 10px;
}
.toolbar ul.breadcrumbs {
    float : left;
}
.toolbar ul.breadcrumbs li {
    background : url(../img/pagebakery/breadcrumb.gif) no-repeat bottom right;
    padding-right : 20px;
}
.toolbar ul.breadcrumbs li.last {
    background : none;
}
.toolbar ul.utilities {
    float : right;
}
.toolbar ul.utilities li {
    border-left : 1px solid #cccccc;
}
.toolbar a {
    color : #666;
}
.toolbar a:hover {
    color : #0088cc;
}
/* tables */
table {
    width : 100%;
    border-collapse : separate;
    border : 0;
    border-right : 1px solid #ccc;
}

table th {
    background : #e7e7e7 url(../img/pagebakery/table-th.gif) repeat-x;
    border-top : 1px solid #cdcdcd;
    border-bottom : 1px solid #bbbbbb;
    text-align : left;
    border-left : 1px solid #cccccc;
    padding : 0;
}
table th a {
    display : block;
    padding : 7px 5px 7px 5px;
    color : #666666;
    font-weight : normal;
    text-decoration : none;
    border-left : 1px solid #ffffff;
}
table th a:hover {
    color : #0088CC;
}
table td {
    padding: 5px;
    background-color : #ffffff;
}
table tr.alt td {
    background-color : #f4f4f4;
}
table td a {
    color : #0088cc;
    text-decoration : none;
}
table td a:hover {
    text-decoration : underline;
}
table tbody td {
    border-bottom : 1px solid #dddddd;
    border-left : 1px solid #dddddd;
}

/* contentblock */
.block h3 {
    font-size : 12px;
    text-align : left;
    color : #ffffff;
    font-weight : normal;
    padding-left : 10px;
    border-bottom: 1px solid #6c7b94;
    height : 26px;
    background : #818ea4 url(../img/pagebakery/table-header.gif) no-repeat top left;
}
.block h3 span {
    display : block;
    padding : 6px 10px 4px 0; 
    background : url(../img/pagebakery/table-header.gif) no-repeat top right;
    text-shadow: rgba(0, 0, 0, 0.6) 0 1px 0;
}
.block .inner-block {
    border-left : 1px solid #dddddd;
    border-right : 1px solid #dddddd;
    border-bottom : 1px solid #dddddd;
    background-color : #ffffff;
}

/* actions */
ul.actions {
    list-style : none;
    padding : 0;
    margin : 0;
    height : 27px;
}
ul.actions li {
    float : left;
    padding-left : 5px;
}
ul.actions a {

}


/* icons */
.add {
    background : #ffffff url(../img/icons/add.png) no-repeat 3px center;
    padding-left : 22px;
}